<!-- Button trigger modal -->
<button hidden type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal_{{v.n}}"
  id='boton_modal_{{v.n}}'>
  Launch demo modal
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal_{{v.n}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header pt-4 pb-4" onclick="$('.modal').modal('hide');">
        <button hidden id="cierramodal" type="button" class="btn btn-warning" data-mdb-dismiss="modal">
          <i class="far fa-arrow-alt-circle-left fa-lg"></i>
        </button>
        {% include 'FixedButton.html' %}
      </div>
      <div class="modal-body">
        <div class="container">
          <h2>{{v.headline}}</h2>
          <h4>{{v.headline2}}</h4>
          {% include v.content %}
        </div>
      </div>

    </div>
  </div>
</div>